body {
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: Arial;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

header {
    padding-top: 20px;
    padding-bottom: 40px;
}


.presenting-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-picture {
    flex: 0.5;
    width: 20%;
    border-radius: 50%;
    padding-bottom: 20px;
    
}
.presenting-paragraph {

    text-align: center;
}

.professional-paragraph {
    text-align: center;
    padding-bottom: 5px;
}